---
layout: markdown_page
title: GitLab upcoming releases
---

GitLab releases a new version [every single month on the 22nd](https://about.gitlab.com/handbook/marketing/blog/release-posts/#release-posts).

The list is an outline of **tentpole features** -- the most important features
of upcoming releases -- and doesn't include most contributions from volunteers
outside the company. This is not an authoritative list of upcoming releases - it
only reflects current [milestones](https://gitlab.com/groups/gitlab-org/milestones).

Note that we often move things around, do things that are not listed, and cancel things that
_are_ listed. Some of the things listed here might not ever be in GitLab. New Starter, Premium, and 
Ultimate features are indicated with labels. This is our best estimate of where new features will land,
but is in no way definitive.

<%= direction %>

---